@* Razor page*@
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Brad Jewett</h1>
    <p>What would you like to know about me?</p>
</div>
<div class="text-center"> 
    <div class="page-column">
        <h1>Column Left</h1>
    </div>
    <div class="page-column">
        <h1>Column Right</h1>
    </div>
</div>
